@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.btn-style-one:hover,
.main-header .info-box .icon-box,
.sec-title .title,
.fact-counter .count-outer .icon,
.services-block .inner-box .icon-box,
.main-header .info-box .social-nav li a:hover,
.project-tab .product-tab-btns .p-tab-btn:hover,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.team-block .inner-box .lower-box h3 a:hover,
.testimonial-block .inner-box .content .fa,
.subscribe-section-two .inner-container h2 span,
.news-block-three .inner-box .lower-content h3 a:hover,
.list-style-one li .icon,
.video-section .play-icon,
.video-section .title,
.header-top-two .top-right .social-icons li a:hover,
.header-top-three .top-right .cart-box .cart-box-btn:hover,
.reason-list li .icon,
.error-section h1,
.price-block .title h3,
.list-style-two li .icon,
.social-icon-two li.follow,
.social-icon-two li a:hover,
.services-block-two .inner-box:hover .lower-box .icon-box,
footer .footer-bottom .footer-nav li a:hover,
.news-widget-block .widget-inner h3 a:hover,
.news-block .inner-box .lower-content h3 a:hover,
.testimonial-block-three .inner-box .author-info,
.testimonial-block-three .inner-box .quote-icon,
.news-block .inner-box .lower-content .post-meta li,
.main-header .header-lower .outer-box .advisor-box .advisor-btn,
.project-block .inner-box .image .overlay-box .content .see-project,
.header-style-two .main-menu .navigation > li.current > a,
.header-style-two .main-menu .navigation > li:hover > a,
.default-section .testimonial-column .owl-nav .owl-prev:hover,
.default-section .testimonial-column .owl-nav .owl-next:hover,
.testimonial-block-two .inner-box .rating,
.reason-list-two li .icon,
.list-style-three li:before,
.subscribe-section h2,
.main-slider .play-btn a,
.main-slider .title.title-two,
.page-breadcrumb li,
.list-style-four li:before,
.page-breadcrumb li a:hover,
.default-section .news-column .inner-column .owl-nav .owl-prev:hover,
.default-section .news-column .inner-column .owl-nav .owl-next:hover,
.time-counter .time-countdown .counter-column .count,
.comming-soon-section .content-column .text,
.footer-bottom-two .footer-nav li a:hover,
.offer-section .offer-tabs .tab-btns .tab-btn.active-btn,
.offer-section .offer-tabs .tab-btns .tab-btn:hover,
.about-block .inner-box .lower-content h3 a:hover,
.header-top-three .top-left .links li a .icon,
.news-block-two .inner-box .content-column .post-meta li .icon,
.news-block-two .inner-box .content-column h3 a:hover,
.products-section .products-column .owl-nav .owl-prev:hover,
.products-section .products-column .owl-nav .owl-next:hover,
.product-block .inner-box .lower-content .price span,
.service-single .service-tabs .tab-btns .tab-btn:hover,
.service-single .service-tabs .tab-btns .tab-btn.active-btn,
.factory-section .content-column .inner-column .icons-box .icon:hover,
.project-page-section .filters .filter-tabs .filter.active,
.project-page-section .filters .filter-tabs .filter:hover,
.project-single-section .lower-section .contact-column .title,
.list-style-five li:before,
.cat-list li a:hover,
.product-details .basic-details .details-header .item-price,
.product-details .basic-details .details-header .rating,
.shop-item .inner-box .lower-content h3 a:hover,
.shop-item .inner-box .lower-content .rating .fa,
.shop-item .inner-box .lower-content .price,
.contact-form-section .title-box .title,
.sidebar .popular-posts .post a:hover,
.sidebar .search-box .form-group button,
.blog-single .inner-box .title-box .post-info li,
.post-share-options .posts li a:hover,
.post-share-options .posts li a .fa,
.social-icon-three li a:hover,
.order-box ul li span,
.shipping-block .inner-box h4,
.checkout-page .default-links li .fa,
.team-block-two .inner-box .lower-content h3,
.checkout-page .default-links li a,
.cart-section .totals-table .total .price,
.price-block .inner-box .price sub,
.cart-table tbody tr .remove-btn:hover,
.project-block-two .inner-box .content-column .inner-column .slide-number,
.project-block-two .inner-box .content-column .inner-column .see-project:hover,
.project-block-two .inner-box .content-column .inner-column h2 a:hover,
.testimonial-section-two .owl-nav .owl-prev:hover,
.testimonial-section-two .owl-nav .owl-next:hover,
.testimonial-block-four .inner-box .content-column h3 span,
.testimonial-block-four .inner-box .content-column h3 span,
.testimonial-block-four .inner-box .content-column .rating .fa,
.shop-comment-form .rating-box .rating a:hover,
.sidebar .related-posts .post .rating .fa,
.shop-item .inner-box .image .overlay-box .cart-option li a,
.project-single-section .lower-section .contact-column .contact-btn,
.sidebar .related-posts .post a, .sidebar .related-posts .post a:hover,
.services-block-two .inner-box .image .read-more {
	color:#14c599;
}

/*Background Color*/

.btn-style-one,
.scroll-to-top:hover,
.btn-style-two:hover,
.main-header .nav-outer,
.social-icon-one,
.subscribe-section,
.news-block .inner-box .image .post-date,
.testimonial-section .owl-prev:hover,
.testimonial-section .owl-next:hover,
.services-section-two .owl-dots .owl-dot:hover,
.services-section-two .owl-dots .owl-dot.active,
.services-block-two .inner-box .lower-box .icon-box,
.testimonial-block-four .inner-box .image-column .image .quote-icon,
.newsletter-form .form-group input[type="submit"], .newsletter-form button,
.team-block-two .inner-box .lower-content .social-navs:before,
.fluid-section-one .outer-container,
.accordion-box .block .acc-btn.active,
.construction-section:before,
.team-single-section .team-detail .content-column .inner-box .title:after,
.skills-box h3:before,
.progress-levels .progress-box .bar .bar-fill,
.main-header.header-style-six .upper-box .social-icons li a:hover,
.main-header.header-style-five .main-menu .navigation > li:before,
.subscribe-form-two .form-group .subscribe-btn,
.header-top-three .top-right .cart-box .total-cart,
.blog-cat li.active a, .blog-cat li a:hover,
.brochure-box:hover,
.cart-section .coupon-btn,
.price-block .inner-box:hover .purchased,
.services-block-three .inner-box .lower-content:before,
.services-block-three .inner-box .lower-content h3:after,
.contact-form .message-btn,
.header-style-two .main-box .logo-box:before,
.news-block-three .inner-box .image .option-box,
.sidebar-page-container .comments-area .comment .comment-reply,
.sidebar .popular-tags a:hover,
.blog-single .inner-box .image .post-date,
.comming-soon .emailed-form .form-group input[type="submit"], .comming-soon .emailed-form button,
.project-single-section .lower-section .contact-column .contact-btn:hover,
.main-header.header-style-six .main-menu .navigation > li:hover > a,
.main-header.header-style-six .main-menu .navigation > li.current > a,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.range-slider-one .ui-state-default, .range-slider-one .ui-widget-content .ui-state-default{
	background-color:#14c599;
}

/*Border Color*/

.btn-style-one,
.main-header,
.btn-style-two:hover,
.page-breadcrumb,
.brochure-box:hover,
.sidebar .popular-tags a:hover,
.accordion-box .block .acc-btn.active,
.team-block .inner-box:hover .image,
.testimonial-section .owl-prev:hover,
.testimonial-section .owl-next:hover,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-menu .navigation > li > ul,
.post-share-options .posts li,
.header-top-three .top-right .cart-box .cart-panel,
.main-header.header-style-six .upper-box .search-box-btn,
.main-menu .navigation > li > ul > li > ul,
.main-header .search-box-outer .dropdown-menu,
.team-block-two .inner-box:hover .image,
.default-section .news-column .inner-column .owl-nav .owl-prev:hover,
.default-section .news-column .inner-column .owl-nav .owl-next:hover,
.header-style-three .nav-outer .outer-box .search-box-outer .search-box-btn,
.price-block.tagged .inner-box, .price-block .inner-box:hover,
.offer-section .offer-tabs .tab-btns .tab-btn.active-btn,
.offer-section .offer-tabs .tab-btns .tab-btn:hover,
.products-section .products-column .owl-nav .owl-prev:hover,
.products-section .products-column .owl-nav .owl-next:hover,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="password"]:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.range-slider-one .ui-state-default, .range-slider-one .ui-widget-content .ui-state-default,
.project-single-section .lower-section .contact-column .contact-btn:hover,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.team-block-two .inner-box:hover,
.checkout-form input:focus, .checkout-form select:focus, .checkout-form textarea:focus{
	border-color:#14c599;
}

.social-icon-one:after,
.header-style-two .main-box .logo-box:after,
.construction-section .content-column:after{
	border-top-color:#14c599;
}

.construction-section .content-column:after{
	border-left-color:#14c599;
}

/*RGBA Color Light*/

/*RGBA Color Dark*/
.price-block .inner-box .upper-box:before{
	background-color:rgba(20,197,153,0.95);
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#ffffff;
	}
	
	.main-header .header-lower,
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#14c599;
	}
	
}